__pycache__/
*.pyc
.idea/
.venv/
venv/
wandb/
wandb_logs/
checkpoints*/
data/*/
data/*.zip
giant_midis/
Skryabin/*.mp3
Skryabin/midi/
*.mid
*.midi
*.mp3
*.wav
*.pt
=2.7.0
.~lock.*#
logs/
README_TODO.md
